<!-- this handles the automatic toc. use ## for subheads to auto-generate the on-page minitoc. if you use html tags, you must supply an ID for the heading element in order for it to appear in the minitoc. -->

<script src="{{ "/js/select-toc.js" }}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>


<div id="toc-right" class="toc">
  
</div>

<script src="{{ "/js/toc-highlight.js" }}"></script>
<script src="{{ "/js/scroll-position-fixed.js" }}"></script>

