
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$defaultfont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Container-width
$leftcontainer-width: 220px;
$rightcontainer-width: 230px;

$contentcontainer-largescreen-width: calc(100% - 500px);
$contentcontainer-smallscreen-width: calc(100% - 280px);


// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

// tablet screens
@mixin tablet {
  @media screen and (min-width: 768px){
    @content;
  }
}

// small desktop screens
@mixin smallscreen {
  @media screen and (min-width: 992px){
    @content;
  }
}

// large devices
@mixin largescreen {
  @media screen and (min-width: 1200px){
    @content;
  }
}

// wide screens
@mixin widescreen {
  @media screen and (min-width: 1700px){
    @content;
  }
}

